:root {
  --main-orange: #e26b00;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  transform: scale(1.12);
  transform-origin: center center;
  margin-top: 10px;
}

.card {
  padding: 2.5rem;
  width: 380px;
  background-color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: var(--main-orange);
}

.input-field {
  margin: 2rem 0;
}

input[type="text"],
input[type="file"] {
  width: 85%;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: normal;
}

#img1 {
  display: block;
  width: 28%;
  height: auto;
  margin: 0 auto 1rem auto;
  position: relative;
  z-index: 10;
}

#img2 {
  width: 70%;
  height: auto;
  border-radius: 10px;
  margin: 2rem auto;
  display: none;
}

.barcode {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1.5rem;
  background-color: white;
  position: relative;
  z-index: 2;
  padding: 0.5rem 0.24rem;
}

.bar {
  background-color: #000;
  display: inline-block;
  height: 58px;
}

h2, h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 2.5rem 0;
}

#out-nombre-info {
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

#out-nombre-info .nombre,
#out-nombre-info .info {
  font-size: 1.2rem;
  display: block;
}

#out-nombre-info .num {
  font-size: 1.2rem;
  display: block;
  margin-top: 0.3rem;
}

/* Más grande en iOS */
.ios #out-nombre-info .num {
  font-size: 1.4rem;
}

.moving-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 9px;
  background-color: var(--main-orange);
  animation: moveUpDown 6s infinite ease-in-out;
  z-index: 1;
}

@keyframes moveUpDown {
  0% { top: 100%; }
  50% { top: 0%; }
  100% { top: 100%; }
}

#inputs-container {
  transition: opacity 0.5s ease;
}

#inputs-container.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

button {
  margin-top: 1.5rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--main-orange);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

